- include_tasks: "buster-backports.yml"
  when: ansible_distribution == "Debian" and
        ansible_distribution_release == 'buster'

- name: Install phpmyadmin
  apt: pkg=phpmyadmin state=present

- name: Set permissions
  file:
    path: "{{ item }}"
    owner: web-phpmyadmin
  with_items:
    - /var/lib/phpmyadmin/blowfish_secret.inc.php
    - /etc/phpmyadmin/config-db.php  

- name: Install apache config file
  copy: src=phpmyadmin.conf dest=/etc/apache2/conf-available/
  notify: reload apache2

- name: Activate configuration
  command:
    a2enconf phpmyadmin.conf
    creates=/etc/apache2/conf-enabled/phpmyadmin.conf
  notify: reload apache2

